<section class="flex flex-col md:flex-row gap-x-10 justify-center mb-8">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-200/90 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Toledo Tomás, tengo 26 años y soy de Rosario, Argentina. He
      comenzado en el mundo del desarrollo web con un bootcamp Full Stack,
      aunque <strong> me gustaría dedicarme a la parte del Backend. </strong>
    </p>
    <p>
      <strong
        >Me encuentro cursando la carrera de Ingeniería en Sistemas
        Informáticos.
      </strong>
      Mi objetivo principal es comprender mejor las bases y los fundamentos de la
      programación, para poder convertirme en un developer más completo.
    </p>
    <p>
      <strong>Me encanta el mundo de la tecnología y el gaming.</strong> En mis tiempos
      libres me gusta jugar a videojuegos, ver series y películas, y aprender cosas
      nuevas sobre programación.
    </p>
  </div>
  <img
    src="/img-dev.jpg"
    alt="Imagen de Toledo Tomás"
    class="rounded-full size-56 order-1 md:order-2 self-center mb-5"
  />
</section>
