---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Ago 2024 - Nov 2024",
    title: "Junior Backend Developer",
    description:
      "Trabajé como desarrollador backend junior en una startup donde fui responsable de la implementación de funcionalidades tales como la autenticación de usuarios, la gestión de perfiles de usuario y la integración con servicios de terceros.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map(exp => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
