<header
  class="flex justify-center items-center py-5 xl:w-[1120px] mx-auto w-full"
>
  <nav class="flex flex-row gap-x-10">
    <a class="hover:underline" href="#top">Inicio</a>
    <a class="hover:underline" href="#experiencia">Experiencia</a>
    <a class="hover:underline" href="#proyectos">Proyectos</a>
    <a class="hover:underline" href="#sobre-mi">Sobre mí</a>
  </nav>
</header>
